<div  class="img_toolbar" style=" background-image:url('assets/images/Shivaji.jpeg')">
	<div class="col-12 row">
		<div class="col-4" style="margin-left: 25%">
			<!-- <h1 class="logo-label-wrapper">Job feel your pocket Adventure Feel your Soul</h1>
			<h3 class="color-wrapper">Plan your next trek here</h3> -->
			<mat-card>
				<mat-card-header>
					<mat-card-title class="search-font-wrapper font-size-280"><b>Search for the fort</b></mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<form [formGroup]="myForm">
					  <mat-form-field class="col-10">
					  <mat-placeholder class="search-font-wrapper font-size-240"><b>Select Type</b></mat-placeholder>
					    <mat-select formControlName="searchBy" class="search-font-wrapper font-size-200 padding-top-4">
					    	<mat-option class="search-font-wrapper dropdown-wrapper" *ngFor="let data of searchOption" [value]="data.val">
					       		{{ data.dispVal }}
					        </mat-option>
					    </mat-select>
					  </mat-form-field>
					  <mat-form-field class="col-10">
					  	<mat-placeholder class="search-font-wrapper font-size-240"><b>Enter Your Destination</b></mat-placeholder>
					    <input class="search-font-wrapper font-size-200 padding-top-4" matInput formControlName="searchText" [matAutocomplete]="auto">
					    <mat-autocomplete class="search-font-wrapper" autoActiveFirstOption #auto="matAutocomplete">
					      <mat-option class="search-font-wrapper dropdown-wrapper" *ngFor="let option of filteredOptions | async" [value]="option">
					        {{option}}
					      </mat-option>
					    </mat-autocomplete>
					  </mat-form-field>
					<div align="center">
						<button mat-raised-button [disabled]="!myForm.valid" (click)="seePlan()">Submit</button>
					</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
